.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #2874f0;
}
.headerLeft {
  display: flex;
}
.inputForm {
  display: flex;
  position: relative;
  margin: auto;
}
.header_input {
  padding: 0 2rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0 none;
  font-size: 2rem;
  height: 4rem;
  width: 100%;
}
.faSearch {
  color: #2874f0;
  position: absolute;
  right: 1rem;
  transform: translate(50%, 100%);
}
.headerLeft_logo {
  width: 14rem;
  margin: 0 2rem;
}
.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLoginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faCart {
  margin: 0 0.5rem;
}
.headerShop {
  display: flex;
  justify-content: center;
}
.headerShopUL {
  background-color: #fff;
  width: 100%;
  list-style: none;
}
.listShop {
  margin: 1rem 8rem;
  position: relative;
}
.listShopMobile {
  margin: 1rem;
}
.listShopItem {
  font-size: 1.5rem;
  color: black;
  /* line-height: 1; */
}

.menuItemUL {
  list-style: none;
  position: absolute;
  padding: 0.5rem 1rem;
  /* width: 150px; */
  box-shadow: none;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ccc;
}
.arrowIcon {
  vertical-align: middle;
}
.megaMenuText {
  font-size: 1.5rem;
  font-weight: bold;
}
.headerRightMobile {
  display: none;
}
.menuOpen {
}
.whiteButtonIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  margin: 0.5rem;
}
.headerShopMobile {
}
.mainLoginDivMob {
  display: flex;
}
.loginCartlink {
  text-decoration: none;
  list-style: none;
  position: relative;
}
.loginWrapper {
  position: relative;
}
.loginWrapper:hover .logout {
  display: block;
}
.logout {
  position: absolute;
  top: 29px;
  right: -10px;
  z-index: 5;
  display: none;
  color: #2874f0;
  background-color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}
.cartValue {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  top: -13px;
  right: -6px;
}
@media (max-width: 768px) {
  .headerLeft_logo {
    align-items: flex-start;
  }
  .inputForm {
    display: none;
  }
  .headerRight {
    display: none;
  }
  .headerRightMobile {
    display: block;
    position: relative;
  }
  .menuOpen {
    z-index: 10;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ccc;
    padding: 2rem;
    position: absolute;
    left: 10%;
    width: 80%;
  }
  .headerShop {
    display: none;
  }
  .menuItemUL {
    position: static;
  }
  .cartValue {
    top: -10px;
    right: -10px;
  }
}
